.App {
  text-align: center;
}

.Flex-Div{
  display: flex;
  flex-direction: row;
  align-items:center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.FiltersParentDiv{
  width: 90%;
  margin: 20px auto auto auto;
}